* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}


img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.choice {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color: black;
    cursor: pointer;
}

.scoreboard {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
}

.txt {
    margin-top: 50px;
}

.msg {

    background-color: black;
    color: white;
    display: inline;
    padding: 20px;
    border-radius: 20px;
}